:root {
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-left: env(safe-area-inset-left, 0px);
  --safe-area-right: env(safe-area-inset-right, 0px);
}

.h-screen-fix {
  height: 100vh;
}

@supports (height: 100dvh) {
  .h-screen-fix {
    height: 100dvh;
  }
}
